{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div id="root"></div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
  const var1 = {{ var1 | json_encode | raw }};
</script>

{{ encore_entry_script_tags('app') }}
{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('app') }}
{% endblock %}