$bg:   #f3f3f3;
$text_primary: #1f1f2e;
$text_secondary: #697789;
$red:  #c2300c;

html, body, #root {
	margin:0;
	padding:0;
	height:100%;
}

.App {
	display:flex;
	height:100%;
	background-color: $bg;
	color:$text_secondary;
	font-family: Arial, sans-serif;
	font-size: 12px;

	.App-Feeds {
		display:flex;
		flex-grow: 1;
		flex-direction: column;
		overflow: auto;
		min-width:250px;
		max-width:250px;

		h1 {
			font-style: italic;
			text-align:center;
			color:$text_primary;
		}

		.add {
			height:40px;
			font-weight: bold;
		}

		ul {
			margin:0;
			padding:0;

			li {
				display:flex;
				align-items: center;
				flex-wrap: nowrap;

				height:40px;
				padding:10px;
				list-style-type: none;
				box-sizing: border-box;

				&:hover {
					cursor:pointer;
					background-color:white;
				}

				div {
					height:100%;
					line-height: 20px;

					&.n { // unread
						width:10%;
						background-color:$red;
						border-radius: 10px;
						text-align: center;
						color:white;
						font-weight: bold;
						font-size:11px;
					}
					&.i { // icon
						width:10%;
						text-align: center;

						img {
							width:16px;
							height:16px;
							margin-top:2px;
						}
					}
					&.t { // feed title
						width:80%;
						flex-grow: 4;
					}
				}
			}
		}

		.add {
			border:0;
			background-color: $red;
			color:white;
			cursor:pointer;
		}
	}

	.App-List {
		flex-grow: 2;
		overflow: auto;
		background-color:white;

		ul {
			margin:0;
			padding:0;

			a  { text-decoration: none; }
			li {
				display:flex;
				align-items: center;

				height:40px;
				list-style-type: none;
				border-bottom:1px solid $bg;
				color:$text_primary;

				&.unread {
					font-weight: bold;
				}

				&:hover {
					cursor:pointer;
					background-color: $bg;
				}

				div {
					max-height: 40px;
					overflow: hidden;

					&.i { //icon
						width:10%;
						text-align: center;

						img {
							height:16px;
							width:16px;
							margin-top:2px;
						}
					}

					&.ts { //time
						width:10%;
					}

					&.t { //title
						width:30%;
					}

					&.d { //description
						width: 50%;
					}

				}
			}
		}
	}

	.App-Viewer {
		display:none;
		flex-grow: 3;
		overflow: auto;
		background-color:white;
		border-left:1px solid $bg;
	}

}