::-moz-focus-inner {border:0;}

* {
	-webkit-tap-highlight-color: transparent;
	outline: 0;
}

html, body, #root {
	margin:0;
	padding:0;
	height:100%;
}

.App {
	//Default &
	//Dark mode colors
	--white: #ffffff;
	--bg: #f3f3f3;
	--text_primary: #1f1f2e;
	--text_secondary: #697789;
	--red: #c2300c;

	&.dark {
		--white: #16202b;
		--bg: #1c2939;
		--text_primary: #ffffff;
		--text_secondary: #ffffff;
		--red: #c2300c;
	}

	display:flex;
	height:100%;
	background-color: var(--bg);
	color: var(--text_secondary);
	font-family: Arial, sans-serif;
	font-size: 12px;
}