$bg:   #f3f3f3;
$text_primary: #1f1f2e;
$text_secondary: #697789;
$red:  #c2300c;

* {
	-webkit-tap-highlight-color: transparent;
	outline: 0;
}

html, body, #root {
	margin:0;
	padding:0;
	height:100%;
}

.App {
	display:flex;
	height:100%;
	background-color: $bg;
	color:$text_secondary;
	font-family: Arial, sans-serif;
	font-size: 12px;

	.App-Feeds {
		position:absolute;
		display:flex;
		flex-grow: 1;
		flex-direction: column;
		overflow: auto;
		height:100%;
		width:100%;
		background-color: $bg;
		z-index:999;

		&.hide {
			display: none;
			@media (min-width: 768px) { display:block; }
		}

		@media (min-width: 768px) {
			position: initial;
			min-width:250px;
			max-width:250px;
		}

		.App-Feeds-Toggle {
			width:100px;
			font-size:15px;
			position: absolute;
			left:0;

			background-color: $text_secondary;
			color: white;
			font-weight: bold;

			@media (min-width: 768px) { display:none; }
		}

		h1 {
			height:50px;
			line-height:50px;
			margin:0;
			text-align:center;
			color:$text_primary;

			img {
				height:32px;
				width:32px;
				margin-top:10px;
			}
		}

		.App-Feeds-Add {
			width:100%;
			height:40px;
			font-weight: bold;
			border:0;
			background-color: $red;
			color:white;
			cursor:pointer;
		}

		.App-Feeds-Input {
			width:100%;
			height:40px;
			text-indent: 10px;
			background-color:white;
			border:0;
			outline:0;
		}

		ul {
			margin:0;
			padding:0;
			overflow: auto;

			li {
				display:flex;
				align-items: center;
				flex-wrap: nowrap;

				height:40px;
				padding:10px;
				list-style-type: none;
				box-sizing: border-box;
				overflow: hidden;

				&:hover {
					cursor:pointer;
					background-color:white;
				}

				div {
					height:100%;
					line-height: 20px;

					&.n { // unread
						width:10%;
						background-color:$red;
						border-radius: 10px;
						text-align: center;
						color:white;
						font-weight: bold;
						font-size:11px;
					}
					&.i { // icon
						width:10%;
						text-align: center;

						img {
							width:16px;
							height:16px;
							margin-top:2px;
						}
					}
					&.t { // feed title
						width:80%;
						flex-grow: 4;
					}
				}
			}
		}
	}

	.App-List {
		flex-grow: 2;
		overflow: auto;
		background-color:white;

		.App-List-Options {
			display: flex;
			align-items: center;
			position:fixed;
			min-width:100%;
			height:50px;
			background-color:$bg;

			button {
				height: 50px;
				width: 100px;
				border: 0;
				background-color: $red;
				color: white;
				font-weight: bold;

				@media (min-width: 768px) { display:none; }
			}
		}

		.App-List-Empty {
			display:flex;
			flex-direction: column;
			align-items: center;
		}

		.App-List-Mark-As-Read-Button {
			display:flex;
			justify-content: center;

			margin:auto;
			width:45%;
			cursor:pointer;

			p {
				height: 15px;
				line-height: 15px;
				padding: 8px;
				background-color:$red;
				border-radius: 10px;
				text-align: center;
				color: white;
				font-weight: bold;
			}
		}

		ul {
			margin:0;
			padding:0;
			margin-top:50px;

			a {
				text-decoration: none;
				outline: 0;
				user-select: none;
			}

			li {
				display:flex;
				align-items: center;

				height:50px;
				list-style-type: none;
				border-bottom:1px solid $bg;
				color:$text_primary;

				&.unread {
					font-weight: bold;
				}

				&:hover {
					cursor:pointer;
					background-color: $bg;
				}

				div {
					max-height: 40px;
					overflow: hidden;

					&.i { //icon
						width:10%;
						text-align: center;

						img {
							height:16px;
							width:16px;
							margin-top:2px;
						}
					}

					&.ts { //time
						display:none;
						width:10%;
					}

					&.t { //title
						width:90%;
					}

					&.d { //description
						display:none;
						width: 50%;
						margin-left:10px;
					}

					@media (min-width: 768px) {
						&.ts { display:block; }
						&.t  { width:30%; }
						&.d  { display:block; }
					}
				}
			}
		}
	}

	.App-Viewer {
		display:none;
		position: absolute;
		flex-grow: 3;
		overflow: auto;
		background-color:white;
		border-left:1px solid $bg;
		box-sizing: border-box;
		color:$text_primary;

		&.active {
			display:flex;
			flex-direction: column;

			width:100%;
			height:100%;
		}

		.App-Viewer-Options {
			display: flex;
			align-items: center;
			position:fixed;
			width:100%;
			height:50px;
			background-color:$bg;

			button {
				height: 50px;
				min-width:60px;
				border: 0;
				background-color: $red;
				color: white;
				font-weight: bold;
				cursor:pointer;
				border-left:1px solid white;

				&.App-Viewer-Options-Close {
					width:100px;
					background-color: $text_secondary;
					border:0;
				}
			}
		}

		.App-Viewer-Title {
			margin-top: 50px;
			padding-left:15px;
			padding-right:15px;
		}

		.App-Viewer-Content {
			padding-left:15px;
			padding-right:15px;
			padding-bottom:15px;

			img, iframe, div {
				//Force content to fixed size
				max-width:100% !important;
				height:auto !important;
			}

			a {
				//Disabling embedded links
				color:$text_primary;
				text-decoration: none;
				pointer-events: none;
				cursor: default;
			}
		}

		@media (min-width: 768px) {
			position:inherit;
		}
	}

}